<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-3">
    <div class="card-body">
      <div class="my-3">
        <%= form.label :title, { class: "form-label"} %>
        <%= form.text_field :title, { class: "form-control", placeholder: "Give your task a title" } %>
      </div>

      <div class="my-3">
        <%= form.label :description, { class: "form-label"} %>
        <%= form.text_area :description, { class: "form-control", placeholder: "Give your task a description" } %>
      </div>

      <div>
        <%= form.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
