<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('icon.svg') %>
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-light bg-dark">
      <a class="navbar-brand text-light" href="#">
        <%= image_tag("icon.svg", :alt => "icon") %>
        Task Manager
      </a>
      <form class="mx-3">
        <input class="form-control d-inline-block w-auto align-middle mx-2" type="search" placeholder="Filter" aria-label="Filter">
        <button class="btn btn-outline-success" type="submit">Filter</button>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
